{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}
{% block css %}
<style>
    .register {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 50px;
        padding-bottom: 100px;
    }
</style>
{%endblock%}

{% block content %}



<div class="container">
    <div class="register">
        <form action="register" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" name="first_name" class="form-control" id="" aria-describedby="">

            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="last_name" class="form-control" id="" aria-describedby="">

            </div>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" name="username" class="form-control" id="" aria-describedby="">

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" name="re_password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

{% endblock %}